{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-groupf">
            <h2>UPLOAD IMAGE</h2>
            <p><label class="title" for="id_title">Title:</label>
                <input class="text-name" type="text" name="title" maxlength="50" required id="id_title">
            </p>
            <p><label class="imagefile" for="id_image_file">Image file:</label>
                <input class="openfile" type="file" name="image_file" accept="image/*" id="id_image_file">
            </p>
            <div class="form-group">
                <input type="submit" value="Save">
            </div>
        </fieldset>

    </form>
</div>
{% endblock content %}